body {
  /*background: beige url('http://i.imgur.com/eDbjBIf.jpg') no-repeat fixed center;*/
/*  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;*/
  /*background-size: 25%;*/
}
.title {
  text-align: center;
  color: brown;
  font-family: 'Special Elite', cursive;
  font-size: 80px;
  margin-top: 10px;
}
.main-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news-feed {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  height: 80vh;
  width: 50vw;
}
